/* TODO */
.multi-check {
  margin: 24px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  .multi-check-label {
    padding: 10px;
    background: #e9e9e9;
    font-size: 18px;
    font-weight: 700;
  }
  .multi-check-options {
    list-style: none;
    margin: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    li {
      padding: 4px;
      height: 100%;
      overflow: auto;
      display: flex;
      user-select: none;
      &:after {
        content: "";
        flex: 1;
      }
    }
    
  }
}
